@charset "utf-8";
/* CSS Document */

/******************************

[Table of Contents]

1. 1600px
2. 1440px
3. 1280px
4. 1199px
5. 1024px
6. 991px
7. 959px
8. 880px
9. 768px
10. 767px
11. 539px
12. 479px
13. 400px

******************************/

body {font-family: Arial, Helvetica, sans-serif;}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 90%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 30%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  
}

/************
1. 1600px
************/

@media only screen and (max-width: 1600px)
{
	
}

/************
2. 1440px
************/

@media only screen and (max-width: 1440px)
{
	
}

/************
3. 1380px
************/

@media only screen and (max-width: 1380px)
{
	
}

/************
3. 1280px
************/

@media only screen and (max-width: 1280px)
{
	
}

/************
4. 1199px
************/

@media only screen and (max-width: 1199px)
{
	.search_container_form
	{
		width: 217px;
	}
	.info_form
	{
		margin-top: 29px;
	}
	.cta_button
	{
		margin-top: 30px;
	}
	.footer_contact_form div input
	{
		width: 100%;
	}
	.footer_nav ul li:not(:last-child)
	{
		margin-right: 40px;
	}
	.footer_links
	{
		margin-left: 54px;
	}
}

/************
4. 1100px
************/

@media only screen and (max-width: 1100px)
{
	
}

/************
5. 1024px
************/

@media only screen and (max-width: 1024px)
{
	
}

/************
6. 991px
************/

@media only screen and (max-width: 991px)
{
	.home_title
	{
		font-size: 48px;
	}
	.header,
	.header.scrolled
	{
		position: fixed;
		top: 0px;
		left: 0;
	}
	.header_top_extra,
	.header_nav
	{
		display: none !important;
	}
	.hamburger
	{
		display: block;
	}
	.info_form_container
	{
		padding-bottom: 44px;
	}
	.info_box_col:not(:last-child)
	{
		margin-bottom: 40px;
	}
	.news
	{
		margin-top: 100px;
	}
	.footer_col:not(:last-child)
	{
		margin-bottom: 100px;
	}
	.footer_contact
	{
		padding-top: 0;
	}
	.footer_bar_content
	{
		height: auto;
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.footer_nav ul li:not(:last-child)
	{
		margin-bottom: 8px;
	}
	.footer_links ul li:not(:last-child)::after
	{
		display: none;
	}
	.footer_phone
	{
		margin-left: 80px;
	}
	.footer_links ul li:not(:last-child)
	{
		margin-bottom: 7px;
	}
}

/************
7. 959px
************/

@media only screen and (max-width: 959px)
{
	
}

/************
8. 880px
************/

@media only screen and (max-width: 880px)
{
	
}

/************
9. 768px
************/

@media only screen and (max-width: 768px)
{
	
}

/************
10. 767px
************/

@media only screen and (max-width: 767px)
{
	.dept_slider_nav
	{
		display: none;
	}
}

/************
11. 575px
************/

@media only screen and (max-width: 575px)
{
	p
	{
		font-size: 13px;
	}
	.menu_close_container
	{
		top: 31px;
		right: 28px;
	}
	.menu_item a
	{
		font-size: 28px;
	}
	.button
	{
		height: 40px;
	}
	.button a span
	{
		font-size: 10px;
	}
	.section_title
	{
		font-size: 28px;
		max-width: 100%;
	}
	.home_title
	{
		font-size: 36px;
	}
	.home_text
	{
		font-size: 14px;
		max-width: 100%;
	}
	.info_text
	{
		font-size: 13px;
	}
	.cta_title
	{
		font-size: 24px;
	}
	.cta_subtitle
	{
		font-size: 13px;
	}
	.faq_title,
	.news_title
	{
		font-size: 28px;
	}
	.footer_about_text
	{
		font-size: 13px;
	}
	.footer_links
	{
		margin-left: 0;
		margin-top: 40px;
	}
	.footer_phone
	{
		margin-left: 0;
		margin-top: 40px;
	}
}

/************
11. 539px
************/

@media only screen and (max-width: 539px)
{
	
}

/************
12. 480px
************/

@media only screen and (max-width: 480px)
{
	.home_title
	{
		font-size: 24px;
	}
}

/************
13. 479px
************/

@media only screen and (max-width: 479px)
{
	
}

/************
14. 400px
************/

@media only screen and (max-width: 400px)
{
	
}